# List and its functions

In [5]:
#append()
list1 = ['Scala', 'R', 'Python']
list1.append('SQL')
print ("updated list : ", list1)

updated list :  ['Scala', 'R', 'Python', 'SQL']

In [6]:
list1.append('SQL')
print ("updated list : ", list1)

updated list :  ['Scala', 'R', 'Python', 'SQL', 'SQL']

In [7]:
#count()
print ("Count for R : ", list1.count('R'))
print ("Count for SQL : ", list1.count('SQL'))

Count for R :  1
Count for SQL :  2

In [10]:
#index
print ('Index of SQL', list1.index('SQL'))

Index of SQL 3

In [11]:
print ('Index of C#', list1.index('C#'))

ValueError: 'C#' is not in list

In [12]:
#insert
list1.insert(1, 'Java')
print ('Updated list : ', list1)

Updated list :  ['Scala', 'Java', 'R', 'Python', 'SQL', 'SQL']

# Dictionary

In [14]:
#clear
dict = {'Name': 'Jitender', 'Age': 30, 'Class': 'Python Basics'}
print ("Length of dictionary : %d" %  len(dict))
dict.clear()
print ("Length of dictionary after applying clear : %d" %  len(dict))

Length of dictionary : 3
Length of dictionary after applying clear : 0

In [16]:
#copy
dict = {'Name': 'Jitender', 'Age': 30, 'Class': 'Python Basics'}
dict2 = dict.copy()
print ("New Dictionary : ",dict2)

New Dictionary :  {'Name': 'Jitender', 'Age': 30, 'Class': 'Python Basics'}

In [26]:
#items
print("dictionary items:",dict.items())

dictionary items: dict_items([('Name', 'Jitender'), ('Age', 30), ('Class', 'Python Basics')])

In [27]:
#values
print ("Values : ", list(dict.values()))

Values :  ['Jitender', 30, 'Python Basics']

In [28]:
#update
dict2 = {'Gender': 'Male' }
dict.update(dict2)
print ("updated dict : ", dict)

updated dict :  {'Name': 'Jitender', 'Age': 30, 'Class': 'Python Basics', 'Gender': 'Male'}

# Sets

In [35]:
#creating a set
Days={"Mon","Tue","Wed","Thu","Fri","Sat"}
print(Days)

{'Mon', 'Wed', 'Fri', 'Tue', 'Sat', 'Thu'}

In [36]:
#add items to set
Days.add("Sun")
print(Days)

{'Mon', 'Sun', 'Wed', 'Fri', 'Tue', 'Sat', 'Thu'}

In [37]:
#remove items in set
Days.discard("Sun")
print(Days)

{'Mon', 'Wed', 'Fri', 'Tue', 'Sat', 'Thu'}

In [39]:
#union of two sets
Day1={"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}
daysunion=Days|Day1
print(daysunion)

{'Mon', 'Sun', 'Wed', 'Sat', 'Fri', 'Tue', 'Thu'}

In [40]:
#intersection of two sets
daysintersect = Days & Day1
print(daysintersect)

{'Mon', 'Wed', 'Sat', 'Fri', 'Tue', 'Thu'}

In [43]:
#difference of two sets
Days2={'Fri','Sun'}
daysdiff = Days - Days2
print(daysdiff)

{'Mon', 'Wed', 'Sat', 'Tue', 'Thu'}

# Tuples

In [56]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

In [59]:
#updating
tuple1,tuple2 = (123, 'xyz'), (456, 'abc')
tup3=tuple1+tuple2
print (tup3)

(123, 'xyz', 456, 'abc')

In [50]:
#length
print ("First tuple length : ", len(tup1))

First tuple length :  4

In [51]:
#max
print ("Max value element : ", max(tup2))

Max value element :  7

In [53]:
#min
print ("Max value element : ", min(tup2))

Max value element :  1

In [54]:
#tuple
list1 = ['maths', 'che', 'phy', 'bio']
tuple1 = tuple(list1)
print ("tuple elements : ", tuple1)

tuple elements :  ('maths', 'che', 'phy', 'bio')

# Strings

In [60]:
#capitalize
str = "this is string example....wow!!!"
print ("str.capitalize() : ", str.capitalize())

str.capitalize() :  This is string example....wow!!!

In [64]:
#encoding
import base64
str = base64.b64encode(str.encode('utf-8',errors = 'strict'))
print ("Encoded String: " , str)

Encoded String:  b'dGhpcyBpcyBzdHJpbmcgZXhhbXBsZS4uLi53b3chISE='

In [66]:
#isalnum
print (str.isalnum())

False

In [67]:
#isdigit
print (str.isdigit())

False

In [68]:
#len
print ("Length of the string: ", len(str))

Length of the string:  44