# Data Structure + Objects

In [2]:
#integer
a=10
b=20
a+b

30

In [8]:
# to identify the type of data, we can use type function
type(a+b)

float

In [5]:
#float
a=59.788
b=7738.99
a-b

-7679.202

In [7]:
type(a-b)

float

In [9]:
#string 
name= "raja singh"
name

'raja singh'

In [10]:
type(name)

str

In [ ]:
#List : A list is a container which can hold different data types in it.

In [13]:
lst1=["Jitender",10,40,44.66,[33,55,"amar"]]
lst1

['Jitender', 10, 40, 44.66, [33, 55, 'amar']]

In [12]:
type(lst1)

list

In [17]:
lst1[4][2]

'amar'

In [ ]:
#List is a complex data type which is derived from LIST object.
#List elements are always stored in ordered sequence of number starting from  0.
#Every object will have some methods, lets see list Object's methods.

In [32]:
lst1.append('Arun') #append add elements in the end of the list.
lst1

['Jitender', 10, 40, 44.66, [33, 55, 'amar'], 'Arun', 'Arun']

In [33]:
lst1.remove('Arun')
lst1

['Jitender', 10, 40, 44.66, [33, 55, 'amar'], 'Arun']

In [36]:
lst1.index([33, 55, 'amar'])

4

In [42]:
lst1[-1]

'Arun'

# Dictionaries

In [ ]:
#This is a key value pair data structure, it is also complex. It is an object of DICT class in Python.
#Data will be stored like.
#{"Key":"Value"}

In [45]:
dict1= {"name": "jitender","age":32,"number":123456,"emailid":"abc@india.com"}
dict1

{'name': 'jitender', 'age': 32, 'number': 123456, 'emailid': 'abc@india.com'}

In [46]:
dict1.get("name") #retrieving elements from dictionary

'jitender'

In [48]:
dict1["age"]

32

In [49]:
dict1.items()

dict_items([('name', 'jitender'), ('age', 32), ('number', 123456), ('emailid', 'abc@india.com')])

In [50]:
dict1.keys()

dict_keys(['name', 'age', 'number', 'emailid'])

In [51]:
dict1.pop("age")
dict1

{'name': 'jitender', 'number': 123456, 'emailid': 'abc@india.com'}

In [ ]:
#difference between remove and pop

In [53]:
#adding a new element to a dictionary
dict1["School"]="KVS"
dict1

{'name': 'jitender',
 'number': 123456,
 'emailid': 'abc@india.com',
 'School': 'KVS'}

# Sets: sets are used for storing unique values in the python

In [ ]:
#Sets are complex data structures.
#sets are class in python, whose object can be derived.
#Sets are mostly used for finding Union, Intersection.

In [54]:
st={"jitender","letsupgrade",1,3,5,5,5,3,3,3,6,6,6}
st

{1, 3, 5, 6, 'jitender', 'letsupgrade'}

In [55]:
type(st)

set

In [57]:
st1={"jitender",5}

In [59]:
st1.issubset(st)

True

# Tuples are ordered immutable collection of objects.

In [ ]:
#Once the data is written it cannot be changed.
#example -

In [60]:
tup1=("jitender","abc@india.com","aadhar")
tup1

('jitender', 'abc@india.com', 'aadhar')

In [61]:
tup1.count('jitender')

1

In [62]:
tup1.index('aadhar')

2

In [ ]:
#boolean data type: it is a logical value indicating true or false. For checking conditions.

In [ ]:
abc=true
xyz=false